<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{fragments/head}">
</head>
<body>
<div id="footer" th:fragment="footer">
    <div id="navigation">
        <div>
            <ul>
                <li class="first"><a href="#">help</a></li>
                <li><a href="#">about cake delight</a></li>
                <li><a href="#">cake delight talk</a></li>
                <li><a href="#">developers</a></li>
                <li><a href="#">privacy policy</a></li>
                <li><a href="#">terms of use</a></li>
            </ul>
            <p>Copyright &copy; 2012 <a href="#">Domain Name</a> All rights reserved | Website Template By <a
                    target="_blank" href="http://www.freewebsitetemplates.com/">freewebsitetemplates.com</a></p>
        </div>
    </div>
</div>
</body>
</html>