<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
</head>

<body>
<div id="header" th:fragment="header-navbar">
  <div>
    <div>
      <div id="logo"> <a href="#"><img src="images/logo.gif" alt=""></a> </div>
      <div>
        <div> <a href="/signup">My Account</a><a href="/signin" class="last">Sign in</a> </div>
      </div>
    </div>
    <ul id="all-products">
      <li><a id="not-selected" href="/index">Home</a></li>
      <li><a href="/product">The Pastry shop</a></li>
    </ul>
    <div class="section"> <a href="#"><img src="images/wedding-cupcakes-small.jpg" alt=""></a> </div>
  </div>
</div>
</body>
</html>