<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{fragments/head}">
</head>

<body>
<div id="header" th:fragment="header-navbar">
    <div>
        <div>
            <div id="logo"><a href="#"><img src="/images/logo-removebg-preview.png" alt=""></a></div>
            <div>
                <div>
                    <a sec:authorize="hasAnyRole('ADMIN','SELLER')" href="/account">My Account</a>
                    <a sec:authorize="hasRole('BUYER')" href="/accountShoppingCard"><i class="fa fa-shopping-cart"></i></a>
                    <div sec:authorize="!isAuthenticated()" class="sign-buttons-container" id="sign-buttons-container">
                        <a href="/signup">Sign up</a>
                        <a href="/signin">Sign in</a>
                    </div>


                    <p sec:authorize="!isAuthenticated()" id="hello">Welcome,
                        <th:block sec:authorize="isAuthenticated()">
                            <th:block sec:authentication="name"></th:block>
                        </th:block>
                        <th:block sec:authorize="!isAuthenticated()">
                            Anonymous!
                        </th:block>
                    </p>

                    <p sec:authorize="isAuthenticated()" id="index-hello">Welcome,
                        <th:block sec:authorize="isAuthenticated()">
                            <th:block sec:authentication="name"></th:block>
                        </th:block>
                        <th:block sec:authorize="!isAuthenticated()">
                            Anonymous!
                        </th:block>
                    </p>


                    <form sec:authorize="isAuthenticated()"
                          th:method="POST"
                          th:action="@{/logout}">
                        <input type="submit" value="Logout" id="submitbtn">
                    </form>
                </div>
            </div>
        </div>
        <ul id="all-products">
            <li><a id="not-selected" href="/index">Home</a></li>
            <li><a id="not-selected2" href="/product">The Pastry shop</a></li>
        </ul>
        <!--<div class="section"><a th:href="@{/category/4}"><img src="/images/wedding-cupcakes-small.jpg" alt=""></a></div>-->
    </div>
</div>
</body>
</html>