<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <meta charset="UTF-8">
    <title>Cake Delights | SignUp</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{css/style.css}">
    <!--[if IE 8]><link rel="stylesheet" type="text/css" th:href="@{css/ie8.css}"><![endif]-->
    <!--[if IE 7]><link rel="stylesheet" type="text/css" th:href="@{css/ie7.css}"><![endif]-->
    <!--[if IE 6]><link rel="stylesheet" type="text/css" th:href="@{css/ie6.css}"><![endif]-->
    <!--<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    -->
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    -- >
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css" />-->
</head>
<body>

</body>
</html>