<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head}">
</head>


<body>
<div id="header" th:replace="~{fragments/header-navbar}">
</div>


<div id="content">
    <div>
        <div id="category">
            <div>
                <!---------Registration form start----->
                <form th:action="@{/addCategory}"
                      th:method="POST"
                      th:object="${categoryDTO}">
                    <span>Add Category</span>
                    <table>
                        <tr>
                            <td><label for="name">Category Name</label></td>
                            <td><input type="text"
                                       id="name"
                                       name="categoryName"
                                       class="form-control"></td>
                        </tr>
                        <tr>
                            <td><label for="username">Username</label></td>
                            <td><input type="text"
                                       id="username"
                                       name="username"
                                       class="form-control"></td>
                        </tr>

                    </table>
                    <input type="submit"
                           value="Add Category"
                           class="submitbtn">
                </form>
            </div>
        </div>
    </div>
</div>

<div id="footer" th:replace="~{fragments/footer}">
</div>

</body>
</html>
