<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head}">
</head>


<body>
<div id="header" th:replace="~{fragments/header-navbar}">
</div>


<div id="content">
    <div>
        <h1 th:each="category:${categories}"
            th:value="${category.getId()}"></h1>
        <ul>
            <li>
                <div>
                    <div>
                        <h2><a href="#">Име на продукта</a></h2>
                        <p>19лв</p>
                        <a href="#" class="view">Add</a></div>
                    <a href="#"><img src="images/special-treats.jpg" alt=""></a></div>
            </li>
            <li>
                <div>
                    <div>
                        <h2><a href="#">Tarts</a></h2>
                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh</p>
                        <a href="#" class="view">view all</a></div>
                    <a href="#"><img src="images/tarts.jpg" alt=""></a></div>
            </li>
            <li>
                <div>
                    <div>
                        <h2><a href="#">Tarts</a></h2>
                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh</p>
                        <a href="#" class="view">view all</a></div>
                    <a href="#"><img src="images/tarts.jpg" alt=""></a></div>
            </li>
        </ul>
    </div>
</div>

<div id="footer" th:replace="~{fragments/footer}">
</div>
</body>
</html>
