<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head}">
</head>



<body>
<div id="header" th:replace="~{fragments/header-navbar}">
</div>



<div id="content">
    <div>
        <h1>Cupcakes</h1>
        <ul>
            <li>
                <div>
                    <div>
                        <h2><a href="#">Cupcakes</a></h2>
                        <p></p>
                        <a href="#" class="view">view all</a> </div>
                    <a href="#"><img src="images/special-treats.jpg" alt=""></a> </div>
            </li>
            <li>
                <div>
                    <div>
                        <h2><a href="#">Tarts</a></h2>
                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh</p>
                        <a href="#" class="view">view all</a> </div>
                    <a href="#"><img src="images/tarts.jpg" alt=""></a> </div>
            </li>
            <li>
                <div>
                    <div>
                        <h2><a href="#">Cakes</a></h2>
                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh</p>
                        <a href="#" class="view">view all</a> </div>
                    <a href="#"><img src="images/cakes.jpg" alt=""></a> </div>
            </li>
            <li>
                <div>
                    <div>
                        <h2><a href="#">Desserts</a></h2>
                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh</p>
                        <a href="#" class="view">view all</a> </div>
                    <a href="#"><img src="images/dessert.jpg" alt=""></a> </div>
            </li>
            <li>
                <div>
                    <div>
                        <h2><a href="#">Pastries</a></h2>
                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh</p>
                        <a href="#" class="view">view all</a> </div>
                    <a href="#"><img src="images/pastries.jpg" alt=""></a> </div>
            </li>
            <li>
                <div>
                    <div>
                        <h2><a href="#">Healthy Food</a></h2>
                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh</p>
                        <a href="#" class="view">view all</a> </div>
                    <a href="#"><img src="images/healthy-food.jpg" alt=""></a> </div>
            </li>
        </ul>
    </div>
</div>
<div id="footer" th:replace="~{fragments/footer}">
</div>
</body>
</html>
