<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head}">
</head>


<body>
<div id="header" th:replace="~{fragments/header-navbar}">
</div>


<div id="content">
  <div>
    <div id="account">
      <div>
        <form   th:method="POST"
                th:action="@{/signin}">
          <span>SIGN-IN</span>
          <table>
            <tr>
              <td><label for="email">Email</label></td>
              <td><input type="text"
                         name="email"
                         th:value="${email}"
                         id="email"
                          class="form-control"
                        placeholder="Email"></td>
            </tr>
            <tr>
              <td><label for="password">Password</label></td>
              <td><input type="password"
                         name="password"
                         class="form-control"
                         id="password"
                          placeholder="Password"></td>
            </tr>
            <tr>
              <td></td>
              <td class="rememberme"><label for="rememberme">
                  <input type="checkbox"
                         name="rememberme"
                         id="rememberme"
                  class="form-control">
                  Remember me on this computer</label></td>
            </tr>
            <tr>
            <td
              th:if="${bad_credentials}" class="errors alert alert-danger">
              Invalid username or password.
            </td>
            </tr>
          </table>

          <input type="submit" value="Sign-In" class="submitbtn">
        </form>
      </div>
    </div>
  </div>
</div>
<div id="footer" th:replace="~{fragments/footer}">
</div>
</body>
</html>
