<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org">
<head th:replace="~{fragments/head}">
</head>
<body>
<div id="header" th:replace="~{fragments/header-navbar}">
</div>


<div id="content">
    <div>
        <div id="account">
            <div>
                <!---------Registration form start----->
                <form th:action="@{/signup}"
                      th:method="POST"
                      th:object="${userRegistrationDTO}">
                    <span>SIGN-UP</span>
                    <table>
                        <tr>
                            <td><label for="email">E-mail</label></td>
                            <td><input type="text"
                                       class="form-control"
                                       id="email"
                                       name="email"
                                       placeholder="E-mail"/>
                            </td>
<!--                            <td th:if="${#fields.hasErrors('email')}"-->
<!--                                th:errors="*{email}">-->
<!--                                <p class="errors alert alert-danger">-->
<!--                                    Role is required.-->
<!--                                </p>-->
<!--                            </td>-->

                        </tr>
                        <tr>
                            <td><label for="username">Username</label></td>
                            <td>
                                <input type="text"
                                       class="form-control"
                                       id="username"
                                       name="username"
                                       placeholder="Username"/>
                            </td>
<!--                            <td th:if="${#fields.hasErrors('username')}"-->
<!--                                th:errors="*{username}">-->
<!--                                <p class="errors alert alert-danger">-->
<!--                                    First name is required.-->
<!--                                </p>-->
<!--                            </td>-->
                        </tr>
                        <tr>
                            <td><label for="roles">Role</label></td>
                            <td><select id="roles" name="role">
                                <option></option>
                                <option value="BUYER">Buyer</option>
                                <option value="SELLER">Seller</option>
                            </select>
                            </td>
<!--                            <td th:if="${#fields.hasErrors('role')}"-->
<!--                                th:errors="*{role}">-->
<!--                                <p class="errors alert alert-danger">-->
<!--                                    Role is required.-->
<!--                                </p>-->
<!--                            </td>-->

                        </tr>
                        <tr>
                            <td><label for="password">Password</label></td>
                            <td>
                                <input type="password"
                                       class="form-control"
                                       name="password"
                                       id="password">
                            </td>
<!--                            <td th:if="${#fields.hasErrors('password')}"-->
<!--                                th:errors="*{password}">-->
<!--                                <p class="errors alert alert-danger">-->
<!--                                    Password is required.-->
<!--                                </p>-->
<!--                            </td>-->
                        </tr>
                        <tr>
                            <td><label for="confirmpass">Confirm<br>
                                Password</label></td>
                            <td><input type="password"
                                       class="form-control"
                                       id="confirmpass"></td>
                        </tr>
                    </table>
                    <input type="submit" value="Sign-up" class="submitbtn">
                </form>
            </div>
            <!---------Registration form start----->
        </div>
    </div>
</div>

<div id="footer" th:replace="~{fragments/footer}">
</div>

</body>
</html>
